@import url("https://fonts.googleapis.com/css2?family=Gidole&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  background-color: rgb(140, 205, 255);
}

body {
  margin: 0;
  padding: 0;
  font-family: Nunito;
}
main {
  height: 750px;
}

.menu {
  background-color: rgb(170, 216, 253);
  padding: 15px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 8px 0;
  cursor: pointer;
}

.menu li:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.event {
  background-color: #54b2fe;
  padding: 15px;
  margin-bottom: 20px;
}

footer {
  height: 70px;
  background-color: #577eb0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.test {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-family: Nunito;
  margin: 0;
  padding: 20px 0;
}

.test1 {
  display: flex;
  justify-content: center;
  font-family: Nunito;
  font-size: 30px;
  margin: 0;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 15px;
}

.card {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-content h3 {
  margin-top: 0;
  color: #333;
}

.card-content p {
  color: #666;
  margin-bottom: 0;
}
.link {
  text-decoration: none;
  color: black;
}
.head {
  display: flex;
  justify-content: center;
}
hr {
  background-color: #577eb0;
  height: 10px;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form button {
  background-color: #54b2fe;
  margin: 20px;
}
.form textarea {
  background-color: #54b2fe;
  margin: 30px;
}

@media (min-width: 1200px) {
  .main {
    display: flex;
  }

  .menu {
    width: 200px;
  }

  .content-area {
    flex-grow: 1;
    padding: 0 20px;
  }
}

@media (max-width: 1199px) {
  .menu {
    width: 100%;
  }

  .cards-container {
    justify-content: center;
  }

  .card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }

  .test {
    font-size: 36px;
  }

  .test1 {
    font-size: 24px;
  }
  .form {
    display: block;
  }
  .form teaxarea {
    width: 100%;
  }
}
